[Unit]
Description=Oper.reag backend daemon.
Wants=network-online.target
After=network-online.target network.target

[Service]
Type=simple
EnvironmentFile=/opt/oper.reag/backend/env.sh
WorkingDirectory=/opt/oper.reag/backend
ExecStart=/bin/bash -c 'source /opt/oper.reag/backend/env.sh && /opt/oper.reag/backend/bin/backend'
User=root
Group=wheel
StandardOutput=append:/opt/oper.reag/backend/log/backend.log
StandardError=append:/opt/oper.reag/backend/log/backend-error.log
SyslogIdentifier=backend

LimitCORE=infinity
Restart=always
RestartSec=4

[Install]
WantedBy=multi-user.target
